*{
    padding: 0; margin: 0; box-sizing: border-box; font-family: 'Mulish', sans-serif;
}
body{
    background: #12c2e9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 100vh;
width: 100%;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar a{
    text-decoration: none;
    color: white;

}
.logo {
    text-transform: uppercase;
    font-size: 2rem;
    margin: 45px ;
    font-weight: bolder;
}
.menu ul  li{
    display: inline-block;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0px 13px;
}
.contact_us{
    font-size: 1.5rem;
    background-color: thistle;
    padding: 12px 26px;
    font-weight: bold;
    border-radius: 5px;
}
.menu ul li:hover{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
.contact_us a:hover{
    font-size: 1.6rem;
    box-shadow: 2px solid black;
}

.centeritems{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    text-align: center;
    color: white;
    font-weight: bolder;
}
.centeritems h1{
    font-size: 4.5rem;
}

.centeritems h2:before{
    content: "";
    width: 6vw;
    height: auto;
    border: 2px solid white;
    position: absolute;
    left: 4vw;
    bottom: 0;
    margin-bottom: 1vh;
}
header:before{
    content: "";
    width: 35vw;
    height: 35vw;
    position: absolute;
    left: 2%;
    bottom: 20%;
    background-image: url("img.jpg");
    background-size: 100%;
    border-radius: 50%;
}

.socialmedia{
    position: absolute;
    right: 5%;
    top: 40%;


}
.icons{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
